* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

html {
  font-size: 72%; }

body {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #3E3542;
  padding: 1em; }

a {
  text-decoration: none; }
  a:visited {
    color: #3E3542; }

ol {
  list-style-type: none; }

@keyframes buttonUp {
  0% {
    transform: translateY(90rem);
    opacity: 0; }
  90% {
    opacity: 0.5; }
  100% { } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30rem) rotateY(180deg) rotateZ(90deg); }
  20% { }
  60% {
    opacity: 0.3; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveOut {
  0% {
    opacity: 1;
    transform: translateX(0); }
  100% {
    opacity: 0;
    transform: translateX(10rem); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(30rem); }
  20% { }
  60% {
    opacity: 0.3; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

.header__logo {
  height: 5rem; }

.header__logo-box {
  position: absolute;
  top: 2vh;
  left: 2vw; }

.header__head-text {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -35%);
  text-align: center; }

.heading-primary {
  color: #060607;
  text-transform: uppercase;
  margin-bottom: 5rem; }

.heading-primary--sub {
  display: block;
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 2rem;
  animation-name: moveInLeft;
  animation-duration: 3s;
  animation-timing-function: ease-in-out; }

.heading-primary--main {
  display: block;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 2.1rem;
  animation-name: moveInRight;
  animation-duration: 4s;
  animation-timing-function: ease-in-out; }

.heading-primary--sub.animate-scroll {
  opacity: 0;
  animation-name: moveOut;
  animation-duration: 2s; }

.heading-secondary {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 3.5em;
  display: inline-block;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #060607, #3E3542);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .5s; }
  .heading-secondary:hover {
    transform: skewX(2deg) skewY(-2.8deg);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.3); }

.heading-secondary--light {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 4em;
  display: inline-block;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #E7F8FB, #AAE9C2);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .5s; }
  .heading-secondary--light:hover {
    transform: skewX(2deg) skewY(-2.8deg);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.3); }

.heading-secondary--light-no-anim {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 3em;
  display: inline-block;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #E7F8FB, #AAE9C2);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.3); }
  .heading-secondary--light-no-anim a:visited {
    color: #E7F8FB; }

.heading-secondary--sub {
  visibility: hidden; }

.heading-secondary--sub.animate {
  text-align: center;
  text-transform: uppercase;
  margin-left: 3.82%;
  color: #E7F8FB;
  display: block;
  font-size: 2.3em;
  font-weight: 400;
  letter-spacing: 3.82rem;
  animation-name: moveInRight;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  visibility: unset; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.about {
  position: absolute; }

.about--pic {
  display: inline-block;
  left: 10%;
  width: 30em; }

.about--text {
  display: inline-block;
  width: 17rem;
  height: 19rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-8 {
  margin-bottom: 8rem;
  margin-top: 8rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-round-radius {
  border-radius: 90px;
  box-shadow: 0 1.5rem 4rem rgba(6, 6, 7, 0.4); }

.u-light-bground {
  background-color: #CFDFED; }

.u-clip-path {
  clip-path: polygon(0 0, 100% 0%, 100% 65vh, 0 100%); }

.u-tran-smooth {
  transition: all .5s; }

.contact-box {
  background-color: rgba(231, 248, 251, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: .3rem;
  box-shadow: 0 1.5rem 4rem rgba(6, 6, 7, 0.8);
  transition: transform .3s; }
  .contact-box__icon {
    font-size: 6rem;
    display: inline-block;
    background-image: linear-gradient(to right, #AAE9C2, #93B5B9);
    -webkit-background-clip: text;
    color: transparent; }
  .contact-box:hover {
    transform: translateY(-1.5rem) scale(1.07); }

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 2.50rem;
  transition: all .2s; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0.03rem 1rem 2rem rgba(86, 93, 94, 0.4); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0.03rem 0.5rem 1rem rgba(86, 93, 94, 0.4); }

.btn--white {
  background-color: #efedfa;
  color: #3E3542; }

.btn--black {
  background-color: #efedfa;
  color: #998FAB; }

.btn--animated {
  animation: buttonUp 3s ease-out; }

.card {
  height: 50rem;
  position: relative;
  perspective: 190rem; }
  .card__side {
    font-size: 1.5rem;
    text-align: center;
    border-radius: .3rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(6, 6, 7, 0.8);
    height: 50rem;
    transition: all .9s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden; }
    .card__side--front {
      background-image: linear-gradient(to bottom, #E7F8FB, #AAE9C2, #E7F8FB);
      background-color: rgba(231, 248, 251, 0.8);
      color: #060607; }
    .card__side--back {
      background-image: linear-gradient(to bottom, #AAE9C2, #E7F8FB);
      background-color: rgba(6, 6, 7, 0.8);
      transform: rotateY(-180deg);
      color: #1D1E1E; }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: soft-light;
    clip-path: polygon(0 0, 100% 0, 100% 91.2%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to bottom, #060607, #AAE9C2, #E7F8FB), url("../img/LittleDucth.gif"); }
    .card__picture--2 {
      background-image: linear-gradient(to bottom, #060607, #AAE9C2, #E7F8FB), url("../img/tenTalk.gif"); }
    .card__picture--3 {
      background-image: linear-gradient(to bottom, #060607, #AAE9C2, #E7F8FB), url("../img/Untitled.gif"); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-align: right;
    text-transform: uppercase;
    color: #060607;
    position: absolute;
    top: 12rem;
    right: 2rem; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    --webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(170, 233, 194, 0.35), rgba(170, 233, 194, 0.85)); }
  .card__details ul {
    list-style: none;
    width: 8rem;
    margin: 0 auto; }
    .card__details ul li {
      text-align: center;
      font-size: 1.5rem;
      padding: 1rem;
      border-bottom: 0.1rem solid #1D1E1E; }

.header {
  height: 75vh;
  background-image: linear-gradient(rgba(170, 233, 194, 0.6), rgba(147, 181, 185, 0.6)), url(../img/large-1.png);
  background-size: cover;
  /*background-blend-mode: saturation;*/
  background-position: top;
  width: 100%;
  position: relative; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 8rem; }
  .row .col-1-of-2 {
    width: calc((100% - 8rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 8rem) / 3); }
  .row .col-2-of-3 {
    width: calc( ( ( (100% - 2 * 8rem) / 3)*2 ) + 8rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 8rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 8rem) /4 ) + 8rem); }

.section-about {
  background-color: #E7F8FB;
  background-image: linear-gradient(to bottom, #E7F8FB, #93B5B9);
  padding-top: 13rem;
  padding-bottom: 12rem;
  margin-top: -10vh; }

.section-projects {
  background-color: #E7F8FB;
  background-image: linear-gradient(to bottom, #93B5B9, #E7F8FB);
  padding-top: 13rem;
  padding-bottom: 15rem; }

.section-contact {
  margin-top: -10rem;
  padding: 20rem 0 23rem;
  background-image: linear-gradient(rgba(170, 233, 194, 0.6), rgba(147, 181, 185, 0.6)), url(../img/large-1.png);
  background-position: bottom;
  background-size: cover;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%); }
