* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html {
	font-size: 62%;
}

body {
	font-family: 'Alegreya Sans SC', sans-serif;
	
	font-weight: 400;
	line-height: 1.7;
	color: #162a27;
	padding: 1em;

}

.header {
	height: 55vh;
	background-image: linear-gradient(rgba(14,15,26,0.6), rgba(14,15,26,0.6)),linear-gradient(to bottom,rgba(81,147,85,0.5), rgba(122,69,56,0.8)), url(../img/large-1.png) ;
	background-size: cover;
	/*background-blend-mode: saturation;*/
	background-position: top;
	width: 100%;
	clip-path: polygon(0 0, 100% 0%, 100% 86%, 0 100%);
	position: relative;
}

.header__logo {
	height: 5rem ; 	
}


.header__logo-box {
	position: absolute;
	top: 2vh;
	left: 2vw;

}

.header__head-text {
	position: absolute;
	left: 50%;
	top: 30%;
	transform: translate(-50%,-35%);
	text-align: center;
}

.heading-primary {
	color: #F7FCFA;
	text-transform: uppercase;
	
	margin-bottom: 5rem;
}

.heading-primary--sub {
	display: block;
	font-size: 2.4rem;
	font-weight: 400;
	letter-spacing: 2rem;

	animation-name: moveInLeft;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
}

.heading-primary--main {
	display: block;
	font-size: 1.3rem;
	font-weight: 400;
	letter-spacing: 2.1rem;
	animation-name: moveInRight;
	animation-duration: 4s;
	animation-timing-function: ease-in-out;
}
.heading-primary--sub.animate-scroll {
	opacity: 0;
	animation-name: moveOut;
	animation-duration: 2s; 
}
.heading-secondary--sub {

    visibility: hidden;
}
.heading-secondary--sub.animate {
	margin-left: 25%;
	color: #E7F8FB;
	display: block;
	font-size: 2em;
	font-weight: 400;
	letter-spacing: 2.1rem;
	animation-name: moveInRight;
	animation-duration: 4s;
	animation-timing-function: ease-in-out;
	visibility: unset;
}

.btn:link, 
.btn:visited {
	text-transform: uppercase;
	text-decoration: none;
	padding: 1rem 2rem;
	display: inline-block;
	border-radius: 2.50rem;
	transition: all .2s;
}
.btn:hover {
	transform: translateY(-0.3rem);
	box-shadow: 0.03rem 1rem 2rem rgba(86,93,94,0.4)
}
.btn:active {
	transform: translateY(-1px);
	box-shadow: 0.03rem 0.5rem 1rem rgba(86,93,94,0.4)
}

.btn--white {
	background-color: rgba(239,237,250,1);
	color:#151616;

}
.btn--animated {
	animation: buttonUp 3s ease-out; 
	
}
.about {
	position: absolute;
}
.about--pic {
	display: inline-block;
    left: 10%;
    width: 30em;
    background-color: #FF0000;
}
.about--text {
	display: inline-block;
	width: 17rem;
	height: 19rem;
	background-color: #FF0000;
	
}

@keyframes buttonUp {
	0% { transform: translateY(90rem) ;
	opacity: 0}
	90%{opacity: 0.5;}
	100% {}
}
@keyframes moveInLeft {
	0% {
        opacity: 0;
       
        transform: translateX(-30rem) rotateY(180deg) rotateZ(90deg);
	}
	20% {

	}
	60% {
		opacity: 0.3
		

	}
	100% {
		
		transform: translateX(0);
		opacity: 1;

	}
}

@keyframes moveOut {
	0% {
		opacity: 1;
		transform: translateX(0);}
	100% {
		opacity: 0;
		transform: translateX(10rem);

		}
}

@keyframes moveInRight {
	0% {
        opacity: 0;
       
        transform: translateX(30rem);
	}
	20% {

	}
	60% {
		opacity: 0.3
		

	}
	100% {
		
		transform: translateX(0);
		opacity: 1;

	}

}





