
$color-primary:#AAE9C2;
$color-primary-light:#AAE9C2;
$color-primary-dark: #93B5B9;
$color-grey-dark: #3E3542;
$color-grey-light: #998FAB;


$color-white: #E7F8FB;
$color-black: #060607;
$color-grey: #1D1E1E;

$color-nav-radial-1: #857CB9;
$color-nav-radial-2: #BE8DD1;

//Grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 8rem;