
.header {
    height: 75vh;
    background-image: linear-gradient(rgba($color-primary-light, 0.6), rgba($color-primary-dark, 0.6)), url(../img/large-1.png);
    background-size: cover;
    /*background-blend-mode: saturation;*/
    background-position: top;
    width: 100%;
    position: relative;

    
    @include respond(phone) {
    	background-image: linear-gradient(rgba($color-primary-light, 0.6), rgba($color-primary-dark, 0.6)), url(../img/small-1.png);
    }
}