.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 2.50rem;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0.03rem 1rem 2rem rgba(86, 93, 94, 0.4)
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0.03rem 0.5rem 1rem rgba(86, 93, 94, 0.4)
}

.btn--white {
    background-color: rgba(239, 237, 250, 1);
    color: $color-grey-dark;

}

.btn--animated {
    animation: buttonUp 3s ease-out;

}