.section-about {
	background-color: $color-white;
	background-image: linear-gradient(to bottom, $color-white, $color-primary-dark);
	padding-top: 23rem;
	padding-bottom: 12rem;
	margin-top: -10vh;

}


.section-projects {

	background-color: $color-white;
	background-image: linear-gradient(to bottom,$color-primary-dark,$color-white, );
	padding-top: 13rem;
	padding-bottom: 15rem;
	

}

.section-contact {
	margin-top: -10rem;
	padding: 24rem 0 23rem;
	background-image: linear-gradient(rgba($color-primary-light, 0.6), rgba($color-primary-dark, 0.6)), url(../img/large-1.png);
	background-position: bottom;
	background-size: cover;
	clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
	// transform: skewY(-2.3deg);
	

	// & > * {
	// 	transform: skewY(2.3deg);

	// }
}

//$color-grey-dark
